[submodule "tiny"]
	path = tiny
	url = https://github.com/peiyunh/tiny
[submodule "mtcnn-dockerfiles"]
	path = DockerFiles
	url = https://github.com/edmBernard/DockerFiles
[submodule "mtcnn"]
	path = mtcnn
	url = https://github.com/edmbernard/mtcnn
